// fonts
$fonts: Montserrat, Open Sans, Helvetica, Arial, sans-serif;

// radius
$radius: 25px;
$button-radius: 5px;

//sizes
$xs: 7px;
$sm: 15px;
$md: 30px;
$lg: 70px;
$xl: 120px;

// colors

$primary-color: #3F3392;
$primary-accent: #1e1848;
$secondary-color: #6B96FF;
$accent-color:#FF4080;
$light-grey-color: #faf8fa;
$grey-color: #A0A8C7;
$dark-grey-color: #767483;
$white-color: #fff;
$black-color: #0E0F34;
$no-shadow: none;
$shadow-light: 0px 2px 5px rgba($primary-accent, 0.05);
$shadow: 0px 4px 15px rgba($primary-accent, 0.15);
$shadow-dark: 0px 20px 45px rgba($primary-accent,0.3);
